@charset "UTF-8";
body {
    margin: 0 auto;
    color: #2B2B2B;
    /* font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; */
}

/* ヘッダー */
header {
    text-align: center;
    height: 140px;
}

header p {
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: YuGothic, "ヒラギノ角ゴ ProN W3", "Lucida Grande", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Verdana, "ＭＳ Ｐゴシック", sans-serif;
}

header h1 {
    font-size: 32px;
    padding-bottom: 60px;
    font-family: "Lora", serif;
}

.main-visual{
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(/image/main.jpeg);
    margin-bottom: 70px;
}

.main {
    margin-top: 600px;
}
/* 共通 */
.wrapper {
    text-align: center;
}

.title-content {
    padding-top: 40px;
    padding-bottom: 30px;
}

.title {
    font-size: 30px;
    margin-bottom: 5px;
    letter-spacing: 0.7rem;
    font-family: "Lora", serif;
}

.supplementary-title {
    font-size: 10px;
    position: relative;
    display: inline;
    padding: 0 10px;
    letter-spacing: 0.35rem;
    font-family: "游ゴシック体", YuGothic, "YuGothic M", sans-serif;
}

.supplementary-title::before,
.supplementary-title::after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 10px;
    height: 1px;
    background-color: #333333;
}

.supplementary-title::before {
    left: -9px;
}

.supplementary-title::after {
    right: -2px;
}

/* consept */
#consept {
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(/image/consept.jpeg);
}

.consept-title {
    font-size: 24px;
    margin-bottom: 30px;
    font-family: "Hiragino Mincho ProN", "Yu Mincho", serif;
}

.consept-message {
    font-size: 12px;
    width: 314px;
    display: inline-block;
    letter-spacing: 0.13rem;
    font-size: 12px;
    line-height: 2.3;
}

/* about me */
#about {
    background-color: #F4F3F2;
    padding-bottom: 40px;
}

.image-content {
    height: 180px;
    width: 314px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 20px;
}

#about h3 {
    font-size: 24px;
    margin-bottom: 10px;
    letter-spacing: 0.51rem;
    font-weight: 600;
    font-family: "Hiragino Mincho ProN", "Yu Mincho", serif;
}

/* spamで表示する */
#about p {
    font-size: 12px;
    margin-bottom: 30px;
    /* font-weight: 600; */
    /* letter-spacing: 0.51rem; */
    /* font-family: "Hiragino Mincho ProN", "Yu Mincho", serif; */
}

.about-message p {
    font-size: 12px;
    display: inline-block;
    width: 314px;
    text-align: left;
    color: #716b64;
    letter-spacing: 0.055rem;
    font-family: YuGothic, "ヒラギノ角ゴ ProN W3", "Lucida Grande", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Verdana, "ＭＳ Ｐゴシック", sans-serif;
}

/* skills */
#skills {
    padding-bottom: 40px;
}

.skill-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    height: 143px;
    width: 143px;
    border: 1px solid;
    border-color: #333333;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    box-shadow: 0 10px 15px 0 rgba(55, 67, 116, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.visual-1 {
    background-color: #F4F3F2;
}

.visual-2 {
    background-color: #E5DCD5;
}

.skill-icon {
    height: 100px;
    width: 100px;
}

/* works */
#works {
    background-color: #E5DCD5;
    padding-bottom: 40px;
}

.work {
    margin-bottom: 20px;

}

.work h3 {
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 0.12rem;
    font-weight: 600;
    font-family: "Hiragino Mincho ProN", "Yu Mincho", serif;
}

.work p {
    font-size: 12px;
    letter-spacing: 0.12rem;
    display: inline-block;
    width: 314px;
    letter-spacing: 0.2rem;
    font-weight: 500;
    font-family: YuGothic, "ヒラギノ角ゴ ProN W3", "Lucida Grande", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Verdana, "ＭＳ Ｐゴシック", sans-serif;
}

/* contact */
#contact {
    background-color: #3E3D3B;
    padding-bottom: 40px;
}

#contact .title-content {
    color: #FFFFFF;
}

.supplementary-title-white {
    font-size: 10px;
    position: relative;
    display: inline;
    padding: 0 10px;
    letter-spacing: 0.35rem;
    font-family: "游ゴシック体", YuGothic, "YuGothic M", sans-serif;
}

.supplementary-title-white::before,
.supplementary-title-white::after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 10px;
    height: 1px;
    background-color: #ffffff;
}

.supplementary-title-white::before {
    left: -9px;
}

.supplementary-title-white::after {
    right: -2px;
}

.contact-message {
    color: #eaeaea;
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    width: 314px;
    text-align: left;
    margin-bottom: 30px;
    letter-spacing: 0.115rem;
    line-height: 2;
    font-family: YuGothic, "ヒラギノ角ゴ ProN W3", "Lucida Grande", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Verdana, "ＭＳ Ｐゴシック", sans-serif;
}

.contact-content p {
    width: 314px;
    margin: 0 auto;
    font-size: 12px;
    display: block;
    cursor: pointer;
    background-color: #D7BFA3;
    padding: 19px 0;
    margin-bottom: 20px;
    border-radius: 10px;
    letter-spacing: 0.2rem;
    font-weight: 500;
    font-family: YuGothic, "ヒラギノ角ゴ ProN W3", "Lucida Grande", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Verdana, "ＭＳ Ｐゴシック", sans-serif;
}

.contact-icon {
    height: 13px;
    width: 13px;
    padding-right: 5px;
}

.contact-content p a {
    text-decoration: none;
    color: #2B2B2B;
}

.contact-precautions {
    color: #ABABAB;
    font-size: 10px;
    display: inline-block;
    width: 314px;
    text-align: left;
    font-family: YuGothic, "ヒラギノ角ゴ ProN W3", "Lucida Grande", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Verdana, "ＭＳ Ｐゴシック", sans-serif;
}


/* フッター */
.footer {
    background-color: #4F4C49;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 9px;
    line-height: 10px;
    letter-spacing: 0.06rem;
}

.footer > p {
    color: #AEAEAE;
    margin: 0;
    font-family: "Lora", serif;
}