@charset "UTF-8";
body {
    margin: 0 auto;
    color: #333333;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

/* ヘッダー */
#home {
    background-image: url(../image/home.jpeg);
    height: 600px;
}

.big-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: flex-end;
    height: 60px;
}

/* 🍔start */
/* クリック前 */
.nav-toggle {
    display: block;
    position: relative;
    width: 60px;
    height: 60px;
    position: fixed;
}

.nav-toggle i {
    display: block;
    width: 30px;
    height: 1px;
    background-color: #333333;
    position: absolute;
    transition: transform .5s, opacity .5s;
}

/* 二本線の容姿指定 */
.nav-toggle i:nth-child(1) {
    top: 20px;
    right: 20px;
}

.nav-toggle i:nth-child(2) {
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
}

.nav-toggle i:nth-child(3) {
    right: 20px;
    bottom: 20px;
}

/* クリック後 show追加 */
.nav-toggle.show {
    position: fixed;
    z-index: 10000;
}
.nav-toggle.show i:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
}

.nav-toggle.show i:nth-child(2) {
    opacity: 0;
}

.nav-toggle.show i:nth-child(3) {
    transform: translateY(-10px) rotate(45deg);
}

/* クリック前メニューリスト */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
    text-align: center;
    background-color: #FFFFFF;
}

.nav ul {
    text-decoration: none;
}

.nav .nav-menu li {
    display: block;
    margin-bottom: 38px;
    font-size: 25px;
    cursor: pointer;
}

.nav ul li a {
    text-decoration: none;
    color: #333333;
}

/* .nav-sns {
    display: flex;
    justify-content: center;
} */

.nav-sns li {
    display: block;
    cursor: pointer;
    padding: 10px;
    height: 30px;
    width: 180px;
    line-height: 30px;
    border: 2px solid;
    border-color: #333333;
    border-radius: 9vw;
    margin: 0 auto 20px auto;
}

/* クリック後　show追加 */
.nav.show {
    top: 0;
    opacity: 1;
    visibility: visible;
}
/* 🍔end */

.title {
    margin-top: 20%;
    margin-left: 33px;
}

#home h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

#home p {
    font-size: 17px;
}

/* メイン */
/* 共通 */
.wrapper {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.wrapper h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.wrapper > p {
    font-size: 14px;
    margin-bottom: 35px;
}

/* about */
#about-wrapper {
    background-color: #F2F9F8;
}

#about-wrapper img {
    height: 170px;
    width: 170px;
    border: 2px solid;
    border-color: #333333;
    border-radius: 50%;
    margin-bottom: 35px;
}

.about-message p {
    font-size: 16px;
    display: inline-block;
    width: 300px;
    margin-bottom: 10px;
    text-align: left;
}

/* skills */
#skills-wrapper {
    background-color: #F2F9F8;
}

.skills {
    display: flex;
    flex-direction: column;
}

.skill {
    height: 170px;
    width: 170px;
    margin: 0 auto;
    margin-bottom: 35px;
    background-color: #FFFFFF;
    border: 2px solid;
    border-color: #333333;
    border-radius: 10%;
}

/* portfolio */
#portfolio-wrapper {
    background-color: #F2F9F8;
}

#portfolio-wrapper > div {
    height: 160px;
    width: 314px;
    line-height: 160px;
    background-color: #FFFFFF;
    border: 2px solid;
    border-color: #333333;
    border-radius: 10px;
    margin: 0 auto;
}

/* contact */
#contact-wrapper {
    background-color: #E9F3F1;
}

/* #contact-wrapper form {
    width: 202px;
    margin: 0 auto;
}

#contact-wrapper form p {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    font-size: 14px;
}

#contact-wrapper form input {
    width: 100%;
    margin-bottom: 10px;
}

#contact-wrapper form textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
} */

#contact-wrapper div {
    width: 314px;
    margin: 0 auto;
}

#contact-wrapper div p a {
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: #333333;
    background-color: #FFFFFF;
    padding: 19px 0;
    margin-bottom: 30px;
    border: 2px solid;
    border-color: #333333;
    border-radius: 9vw;
}

/* フッター */
.footer {
    background-color: #E9F3F1;
    padding-bottom: 30px;
    font-size: 10px;
    line-height: 10px;
}

.footer > p {
    margin: 0;
}