@charset "UTF-8";
body {
    margin: 0 auto;
    color: #2B2B2B;
}

html {
    font-size: 10px;
}

/* ヘッダー */
header {
    text-align: center;
    height: 7rem;
    background-color: #ffffff;
}

header h1 {
    font-size: 2rem;
    padding-top: 2.5rem;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.1em;
}

.main-visual{
    background-image: url(/image/aaa.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-content: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#main-visual-title {
    color: #ffffff;
    font-size: 2.8rem;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.08em;
    padding-right: 1rem;
}

#main-visual-sub {
    color: #ffffff;
    font-size: 1.6rem;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.08em;
    padding-right: 1rem;
}

/* 共通 */
.wrapper {
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.title-content {
    padding-bottom: 3rem;
}

.title {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0.2em;
    font-family: 'Quicksand', sans-serif;
}

.supplementary-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    letter-spacing: 0.2em;
    font-family: 'Quicksand', sans-serif;
}

.supplementary-title::before,
.supplementary-title::after {
    content: '';
    width: 1rem;
    height: 0.1rem;
    background-color: #333333;
    font-family: 'Quicksand', sans-serif;
}

.supplementary-title::before {
    margin-right: 0.6rem;
}

.supplementary-title::after {
    margin-left: 0.6rem;
}

.font-style {
    font-size: 1rem;
}

.back-white {
    background-color: #F4F3F2;
}

/* consept */
.consept-message {
    letter-spacing: 0.2em;
    line-height: 3.6rem;
    width: 31.4rem;
    display: inline-block;
}

/* about me */
.image-content {
    height: 18rem;
    width: 31.4rem;
    object-fit: cover;
    margin-bottom: 2rem;
}

.name {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.about-message {
    letter-spacing: 0.1em;
    line-height: 1.8rem;
    width: 31.4rem;
    display: inline-block;
    text-align: left;
}

/* skills */
.skill-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    height: 11.2rem;
    width: 11.2rem;
    border: 0.1rem solid;
    border-color: #2B2B2B;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem;
    cursor: pointer;
}

.skill:hover {
    background-color: #eeedec;
    transition: 1.0s;
}

.skill-icon {
    height: 6.7rem;
    width: 6.7rem;
}

/* works */
.work {
    margin-bottom: 3rem;

}

.work h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.work p {
    display: inline-block;
    width: 31.4rem;
}

/* contact */
.contact-message {
    display: inline-block;
    width: 31.4rem;
    text-align: center;
    margin-bottom: 3rem;
}

.contact-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-icon {
    height: 3rem;
    width: 3rem;
    margin: 0 1.5rem;
    cursor: pointer;
}

/* フッター */
.footer {
    background-color: #EEEDEC;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1rem;
    letter-spacing: 0.06rem;
}

.footer > p {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}